dropbox==11.36.2
requests==2.31.0
requests_html==0.10.0
git+https://github.com/Rapptz/discord.py.git@master
sortedcontainers==2.4.0
cachetools==5.3.1
Pillow==10.0.1
texttable==1.6.7
humanize==4.8.0
pytz==2023.3.post1
python-dateutil==2.8.2
apscheduler==3.10.4
orjson==3.9.7
aiofile==3.8.8
polars==0.19.3
pyarrow==13.0.0
openpyxl==3.1.2
xlsx2csv==0.8.1
xlsxwriter==3.1.4
datetime_matcher==0.2.1
more_itertools==10.1.0
portion==2.4.1
sympy==1.12
bidict==0.22.1
feedparser==6.0.10
tweepy==4.14.0
exifread==3.0.0